
h1 {
  margin-bottom: 30px;
}
input[type="text"] {
  width: 300px;
  float: center;
  margin-left: 36%;
}
.narrow-button {
  float: center;
  margin-left: 41%
}

.search {
    display: inline-block;
    margin-bottom: 10px;
}
